{
  "singleQuote": false,
  "$schema": 100,
  "tabWidth": 2,
  "semi": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "newLineBeforeReturn": true,
  "noDuplicateVariable": [true, "check-parameters"],
  "noVarKeyword": true,
  "arrowParens": "avoid",
  "trailingComma": "none"
}
